PyQt5>=5.15.4
PyQtWebEngine>=5.15.5
beautifulsoup4>=4.10.0
requests>=2.26.0
urllib3>=1.26.7
playsound>=1.3.0
plyer>=2.0.0
pygame>=2.0.2
pywinctl
pillow
tkextrafonts
pywin32>=302; sys_platform == 'win32'
PyUserInput>=0.1.11; sys_platform == 'linux'
xlib>=0.21; sys_platform == 'linux'
ewmh>=0.1.6; sys_platform == 'linux'
fonttools>=4.28.4; sys_platform == 'linux'
pyobjc>=8.1; sys_platform == 'darwin'
fonttools>=4.28.4; sys_platform == 'darwin'
